[submodule "version-st24"]
	path = version-st24
	url = https://github.com/titans24/version-st24.git
[submodule "aryo-activity-log"]
	path = aryo-activity-log
	url = https://github.com/titans24/aryo-activity-log.git
